<div class="booyah-box">
<h1>Edit Your Book</h1>
<%= simple_form_for current_course, :url => instructor_course_path(current_course) do |f| %>
    <%= f.input :cover %>
    <%= f.input :title %>
    <%= f.input :author_first %>
    <%= f.input :author_last %>
    <%= f.input :year %>
<br />
<br />
<%= f.submit 'Update', :class => 'btn btn-primary' %>
<% end %>
</div>